@import url('https://fonts.googleapis.com/css?family=Abel');
    @import url('https://fonts.googleapis.com/css?family=Khand');
/*font-family: 'Khand', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

*{
    box-sizing: border-box;
}
    :root {
      --nav-width: 150px; 
    }
    body {
        margin: 0;
        overflow: hidden;
    }
    .fadein{
        animation: slowFadeIn 5s;
    }
    .logo{
            -webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.7);
            -moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.7);
            box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.7);
        }
    .wrapper-menu {
        z-index: 999;
        position: absolute;
        left: 30px;
        top: 30px;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 330ms ease-out;
        animation: slowFadeIn 5s;
    }
    .wrapper-menu.open {
      transform: rotate(-45deg);  
    }
    
    .open .line-menu.start {
      transform: rotate(-90deg) translateX(3px);
    }
    .line-menu.end {
      align-self: flex-end;
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      transform-origin: left;
    }
    .open .line-menu.end {
      transform: rotate(-90deg) translateX(-3px);
    }
    nav{
        z-index: 997;
        left: -100vw;
        width: 250px;
        position: absolute;
        background-color: #f1f1f1;
        visibility: ;
        height: 100%;
        text-align: center;
        transition: .7s;
    } 
    nav p{
        color: #909090;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 10px;
        font-size: .75em;
    }
    nav ul a li.active{
        transition: .3s;
        animation:colorchange 2s infinite alternate;
    }
    nav ul a li:hover{
        letter-spacing: .4em;
        transition: .3s;
        animation:colorchange 2s infinite alternate;
    }
    .show-menu{
        visibility: visible;
        left: 0;
        transition: .4s;
    }
    nav ul{
        padding: 0;
        text-align: center;
    }
    nav ul a{
        text-decoration: none;
        display: block;
        padding: 10px;
        color: #909090;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        letter-spacing: .1em;
    }
    nav ul li{
        list-style: none;
        position: relative;
        left: -100vw;
        font-size: .8em;
    }
    ul a:nth-child(1) li {
        transition: 0.7s ease 0s;
    }
    ul a:nth-child(2) li {
        transition: 0.9s ease 0s;
    }
    ul a:nth-child(3) li {
        transition: 1.1s ease 0s;
    }
    ul a:nth-child(4) li {
        transition: 1.3s ease 0s;
    }
    ul a:nth-child(5) li {
        transition: 1.5s ease 0s;
    }
    .show-li{
        left: 0;
    }
    .center-nav{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .wrapper-menu:hover ~ .pulse{
        opacity: 1;
        transition: .3s;
    }
    .wrapper-menu:active ~ .pulse{
        animation: pulse 1s infinite;
    }
    .pulse {
        transition: .3s;
        opacity: 0;
        z-index: 998;
        position: absolute;
        left: 20px;
        top: 20px;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: RGBA(238, 82, 87, 1.00);
        cursor: pointer;
        box-shadow: 0 0 0 RGBA(238, 82, 87, .4);
    }

    .center button{
        padding: 10px;
        letter-spacing: .1em;
        border-radius: 20px;
        width: 200px;
        font-size: 1em;
        margin: 5px;
        background-color: transparent;
        border-color: dimgrey;
        font-weight: lighter; 
        color: #F2F2F2;
        text-transform: uppercase;
        cursor: pointer;
        transition: .4s;
        font-family: 'Reem Kufi', sans-serif;
        position: relative;
        animation: downToUp 1s 1;
    }
    .center button:hover{
        background-color: #F2F2F2;
        color: #202020;
        border: none;
    }
    .flex-container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    @import url('https://fonts.googleapis.com/css?family=Questrial');  
    .chat-bubble p{
            width: 350px;
            padding: 12px;
            background-color: #dfdfdf;
            margin: 5px;
            border-radius: 20px;
            text-align: left;
            font-family: 'EB Garamond', serif;
            font-size: 1.2em;
            line-height: 1.4em;
        }
    .chat-img img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            float: right;
            pointer-events: none;
        }
    .chat-wrap{
            width: 420px;
            margin: auto;
        }
/*
        
        .chat-container{
            width: 40%;
            padding: 10px;
        }
        .chat-container p{
            margin: 10px auto;
            width: 200px;
            padding: 10px;
            border-radius: 10px;
            background-color: #dfdfdf;
            line-height: 1.3em;
            -webkit-box-shadow: 0px 3px 23px -6px rgba(0,0,0,0.39);
            -moz-box-shadow: 0px 3px 23px -6px rgba(0,0,0,0.39);
            box-shadow: 0px 3px 23px -6px rgba(0,0,0,0.39);
        }
        .chat-image{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
            float: right;
        }
*/
        .speech-bubble {
            position: relative;
            background: #dfdfdf;
            border-radius: .4em;
        }

        .speech-bubble:after {
            content: '';
            position: absolute;
            transform: rotate(-22deg);
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-top-color: #dfdfdf;
            border-bottom: 0;
            border-right: 0;
            margin-left: 125px;
            margin-bottom: -10px;
        }

    @media screen and (max-width: 800px) {
        h1{
            position: relative;
            top: 50px;
            font-size: 1.5em;
        }
        .chat-bubble p{
            width: 250px;
            font-size: 1em;
        }
        .chat-wrap{
            width: 320px;
            margin: auto;
        }
        .speech-bubble:after {
            content: '';
            position: absolute;
            transform: rotate(-22deg);
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-top-color: #dfdfdf;
            border-bottom: 0;
            border-right: 0;
            margin-left: 75px;
            margin-bottom: -10px;
        }
        
    }
    @-webkit-keyframes slowFadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    @-webkit-keyframes downToUp{
        from{
            top:90px;
        }
        to{
            top: 0;
        }
    }
    @-webkit-keyframes pulse {
      0% {
        -webkit-box-shadow: 0 0 0 0 RGBA(238, 82, 87, .4);
      }
      70% {
          -webkit-box-shadow: 0 0 0 10px RGBA(238, 82, 87, 0);
      }
      100% {
          -webkit-box-shadow: 0 0 0 0 RGBA(238, 82, 87, 0);
      }
    }
    @keyframes pulse {
      0% {
        -moz-box-shadow: 0 0 0 0 RGBA(238, 82, 87, .4);
        box-shadow: 0 0 0 0 RGBA(238, 82, 87, .4);
      }
      70% {
          -moz-box-shadow: 0 0 0 10px RGBA(238, 82, 87, 0);
          box-shadow: 0 0 0 10px RGBA(238, 82, 87, 0);
      }
      100% {
          -moz-box-shadow: 0 0 0 0 RGBA(238, 82, 87, 0);
          box-shadow: 0 0 0 0 RGBA(238, 82, 87, 0);
      }
    }
    @keyframes paddingAnimate {
        from {padding: 0px;}
        to {padding: 10px;}
    }
    @keyframes topToBottom {
      from {top: -100px;}
      to {top: 0;}
    }
    @-webkit-keyframes colorchange {
      0% {
        
        color: #2A34E2;
      }
/*
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
*/
      
      
/*
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
*/
      100% {
        
        color: #EE5257;
      }
    }